<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>방명록</title>
  </head>
  <body>
    <fieldset>
      <legend>방명록 등록</legend>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="사용자 이름"
      /><br />
      <input
        type="text"
        name="content"
        id="content"
        placeholder="방명록"
      /><br />
      <button type="button" id="register">등록</button>
    </fieldset>
    <br />
    <br />
    <a href="/">홈으로</a>
    <table border="1" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>작성자</th>
          <th>방명록</th>
          <th>수정</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < data.length ; i ++) { %>
        <tr id="tr_<%= data[i].id %>">
          <td><%= data[i].id %></td>
          <td><%= data[i].name %></td>
          <td><%= data[i].comment %></td>
          <td>
            <button type="button" id="edit-btn" data-id="<%= data[i].id %>">
              수정
            </button>
          </td>
          <td><button type="button">삭제</button></td>
        </tr>
        <% }%>
      </tbody>
    </table>
  </body>
  <script>
    //등록
    document.getElementById("register").addEventListener("click", () => {
      const name = document.getElementById("name").value;
      const content = document.getElementById("content").value;

      fetch("/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ name, content }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          if (data.success) {
            console.log(data.message);
            //location.reload(); //등록하면서 새로고침하기.
          } else {
            console.log("등록 오류1", data.message);
          }
        })
        .catch((error) => {
          console.log("등록 오류2:", error);
        });
    });

    //수정 버튼 클릭 시 값들 name, content에 넣기
    document.addEventListener("click", (event) => {
      if (event.target.id === "edit-btn") {
        const id = event.target.getAttribute("data-id");
        const registerBtn = document.getElementById("register");
        console.log("id값", id);

        registerBtn.innerText = "수정 완료";
        registerBtn.id = "editFin";

        fetch(`/getData/${id}`, {
          method: "GET",
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("name").value = data[0].name;
            document.getElementById("content").value = data[0].comment;

            // 수정 완료 버튼 클릭 이벤트 리스너를 등록합니다.
            document.addEventListener("click", handleEditFinClick);
          })
          .catch((error) => {
            console.log("데이터 가져오기 오류:", error);
          });
      }
    });

    // 수정 완료 버튼 클릭시
    function handleEditFinClick(event) {
      if (event.target.id === "editFin") {
        const id = event.target.getAttribute("data-id");
        const name = document.getElementById("name").value;
        const content = document.getElementById("content").value;

        fetch(`/editFin`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id, name, content }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            if (data.success) {
              console.log(data.message);
              //location.reload();
            } else {
              console.log("수정 오류1", data.message);
            }
          })
          .catch((error) => {
            console.log("수정 오류2", error);
          });
      }
    }
  </script>
</html>
